fastapi[all]
sqlalchemy
asyncpg
psycopg2-binary
loguru
uvicorn
fastapi
fastapi_utils
pydantic
passlib
python-multipart
python-jose
werkzeug
awscli
persiantools
requests
pytz
redis
fastapi-limiter
pydantic[dotenv]
minio
khayyam
httpx