uvicorn
fastapi~=0.110.0
fastapi_utils
fastapi-limiter
# pydantic
sqlalchemy~=1.4.51
passlib
python-multipart
python-jose
psycopg2-binary
werkzeug~=3.0.1
awscli
persiantools~=3.0.1
requests~=2.31.0
pytz
redis~=5.1.0b3
loguru~=0.7.2
minio~=7.2.4
khayyam~=3.0.17
httpx
pandas~=2.2.1
xlrd
Pyarrow
asyncpg
python-dotenv~=1.0.1
jalali
bs4
faker~=23.2.1
python-dateutil~=2.8.2
pydantic~=1.10.14
tabulate~=0.9.0
jinja2
starlette~=0.36.3
